<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Moby Alpha</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{site.baseurl}}/scrollingnav/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="{{site.baseurl}}/scrollingnav/css/scrolling-nav.css" rel="stylesheet" type="text/css">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51694361-1', 'cstockman.github.io');
  ga('send', 'pageview');

</script>


</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              <a class="navbar-brand" href="#page-top">Moby Alpha</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
		    <li class="page-scroll">
                        <a href="#preview">Preview</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#services">Ticket Info</a>
                    </li>
		    <li class="page-scroll">
                        <a href="press.html">Press Packet</a>
                    </li>
		    <!--
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
		
		    -->
                </ul>
		<ul class="nav navbar-nav navbar-right">
		  <li><a href="http://facebook.com/charlescomedy">Facebook</a></li>
		  <li><a href="http://twitter.com/charlescomedy">Twitter</a></li>
		</ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <section id="intro" class="intro-section">
	<div class="container"> 
	<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
	  <h1>MOBY ALPHA</h1>
	  <p class="lead">The story of a mad captain's quest for revenge on the amorphous spacial energy cloud that temporarily took his leg.</p>
	  <p class="lead">"<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span> - The writing is superb… the most creative use of lighting I’ve ever seen… an ingenious bit of comedy theater." - <i>Edinburgh Festivals Magazine</i>
	  
	  </p>
	  <p class="lead">Playing at The Caveat in New York, Saturday June 9th at 6:30PM.</p> 
<!--	  <p class="lead">Playing at the Hollywood Fringe June 13th, June 14th, June 19th, June 21st, June 27th, June 28th.</p> -->
<!--	  <p class="lead">Playing in Sci-Fest LA May 14th, 15th, 16th and 23rd, 8PM.  </p> -->
	<div class="page-scroll">
	  <a class="btn btn-default btn-lg" href="#services">Tickets!</a>
	</div>
	</div>
	</div>
	</div> 
    </section>

    <section id="about" class="about-section">
        <div class="container">
	  <div class="row">
	    <div class="col-lg-7 col-md-12">
		  
		  <h2>About</h2>
	      <h3>About Moby Alpha</h3>
		  <p> An hilarious homage to classic sci-fi and bombastic literature, Moby Alpha tells the story of a mad captain's quest for revenge on the amorphous spacial energy cloud that temporarily took his leg.  More simply, Moby Alpha is Moby–Dick in space, but funny.
	      </p>
	      <p>
	      The show is performed in an entirely dark theater with
	      the only light emanating from the duo’s custom-built
	      million color LED space helmets, creating a unique,
	      otherworldly aesthetic.
	      </p>
	      
	      <p>
Written and performed by Charles, the Seattle comedy duo Centerstage Chicago called "absolutely brilliant".
		  </p>
	      <p>Named a "Pick of the Fringe" at the 2015 Edinburgh Fringe Festival.</p>
	      <p> Finalist for Best Comedy at The 2014 Hollywood Fringe</p>
	      <br/>
	      <p>
	      "Charles may have landed a triple-crossover hit...pleasing Melville nerds, sci-fi nerds, and comedy nerds."
	      <br/>
	      <a href="http://www.thestranger.com/seattle/come-sail-away/Content?oid=19186032"><i>The Stranger</i></a>
	      </p>
	      <p>"<span class="glyphicon glyphicon-star"></span><span
	      class="glyphicon glyphicon-star"></span><span
	      class="glyphicon glyphicon-star"></span><span
	      class="glyphicon glyphicon-star"></span> - A clever
	      satire that manages to prank sci-fi and classical
 culture in the same trip."
	      <br/>
	      <a
	      href="http://bit.ly/13K7HtH"><i>Edmonton Sun</i></a>
	      </p>
	      <p>"<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span> - Two energetic and well-prepared actors to set their phasers to 'funny' and fire away with brisk wordplay and bright physical comedy."
	    <br/>
	    <a href="http://www.winnipegfreepress.com/special/fringe/reviews/Charles-Presents-Moby-Alpha-214658991.html"><i>Winnipeg Free Press</i></a>
	       </p>
<p>"The staging is so clever it nearly overheated my circuits. Simple but practically perfect."
<br/>
<a href="http://www.wow247.co.uk/2015/08/24/comedy-review-moby-alpha/"><i>The Scotsman</i></a>
</p>
	      <p>"Nerds will rejoice in [the] impressive attention to
	      detail."
	    <br/>
	    <a href = "http://blogs.edmontonjournal.com/2013/08/16/charles-presents-moby-alpha/"><i>Edmonton Journal</i></a>
	       </p>
              <p>"Skewer[ing] everything from the ridiculousness of their characters’ motivations… to some of sci-fi pulp’s worst cliches, Armstrong and Stockman adroitly move from tight setpiece to tight setpiece with grace and wit."
<br/>
	    <a href =
"http://www.seattlestar.net/2014/04/charles-moby-alpha-a-clever-showcase-of-sharp-wits/"><i>The
Seattle Star</i></a>
</p>
<br/>
	      <h3>About Charles</h3>
	      <p>
             A sketch duo originally from Seattle, now based in LA, Charles (Charlie Stockman & Chuck Armstrong) has performed throughout North America, including the San Francisco, Seattle, Chicago, and Toronto Sketchfests; the Moontower Comedy Festival; the Los Angeles Comedy Festival; the People’s Improv Theater New York; the Hollywood, Toronto, Victoria, Winnipeg Edmonton and Edinburgh Fringe Festivals; the UCB Los Angeles; the Groundlings Main Stage Hollywood; and the Comedy Central Stage Hollywood.
</p>
<p>
	      Winners "Best Writing" and "Best Sketch Comedy" at the 2012 LA Comedy Festival, and "Best Film" at the 2013 Seattle Comedy Film Challenge.
	      </p>
	      <!--
	      <p>
	       <h4>Praise for Charles</h4>
	       <p> <a><i>Edmonton Sun</i></a>
	       </p>
	      </p> -->
                </div>
		<div class="col-lg-5 visible-lg">
		  <img src="{{site.baseurl}}/img/Charles-Sketch-Fest-4-gradient-small.jpg"/>
		</div>
            </div>
        </div>
    </section>

    <section id="preview" class="preview-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
		  <h2>Preview</h2>
		  
		  <iframe src="//player.vimeo.com/video/86498291"
        width="711" height="400" frameborder="0" webkitallowfullscreen
        mozallowfullscreen allowfullscreen></iframe> <p><a
        href="http://vimeo.com/86498291">Moby Alpha</a> from <a
        href="http://vimeo.com/gistent">GIST Entertainment</a> on <a
        href="https://vimeo.com">Vimeo</a>.</p>
		    
                </div>
            </div>
        </div>
    </section>
	
    <section id="services" class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Tickets</h2>
		  <div class="row">
		   <div class="col-md-4">
		     <h3>Location and Showtimes</h3>
		     The Caveat
		     <br/>
		     21 A Clinton Street, New York, NY 10002
		     <br/>
		     Saturday June 9th 6:30PM
		    <br/> <br/>
		     
		      <a class="btn btn-default" href="http://caveat.nyc/event/moby-alpha/">Buy Tickets Online</a>
		   </div>
		   <div class="col-md-8">
		    <h3>Map</h3>
		    <div class="google-maps">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.879419404336!2d-73.98664538459478!3d40.720670879330996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25981f54d9667%3A0x39729f335791cb9c!2sCaveat!5e0!3m2!1sen!2sus!4v1528053832493" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>


		       <!--
		       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2234.375053663422!2d-3.1881572!3d55.942871149999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c7830fdd14fb%3A0x813b091f06f15e59!2sUniversity+of+Edinburgh%2C+The+University+of+Edinburgh%2C+Edinburgh%2C+City+of+Edinburgh+EH8+9LH%2C+UK!5e0!3m2!1sen!2sus!4v1438220126044" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		     		     
		       -->
		       </div>
		    <br/>
		    <!-- <a href="http://goo.gl/maps/gYI4q">Get Directions</a> -->
		   </div>
		  </div>
                </div>
            </div>
        </div>
    </section>	
	
	<!--
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Contact Section</h1>
                </div>
            </div>
        </div>
    </section>
	-->

    <!-- Core JavaScript Files -->
    <script src="{{site.baseurl}}/scrollingnav/js/jquery-1.10.2.js"></script>
    <script src="{{site.baseurl}}/scrollingnav/js/bootstrap.min.js"></script>
    <script src="{{site.baseurl}}/scrollingnav/js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{site.baseurl}}/scrollingnav/js/scrolling-nav.js"></script>

</body>

</html>
